@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  background: linear-gradient(72.44deg, rgba(255, 213, 197, 0.8) 0%, rgba(193, 168, 220, 0.8) 100%);
}

.wrapper {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
}

.title {
  margin-top: 12px;
  font-size: 38px;
}

.game {
  width: auto;
  flex-grow: 1;
  min-width: 400px;
  max-width: 700px;
}

.dealer-hand, .your-hand, .pannel, .info {
  display: flex;
  background-color: rgba(0, 85, 255, 0.1);
  padding: 18px;
  border-radius: 12px;
  margin: 12px;
}
.pannel {
  justify-content: center;
}
.info {
  flex-direction: column;
  height: 400px;
  max-width: 220px;
  text-align: center;
}

.info p {
  font-size: 18px;
  font-weight: 500;
  height: 20%;
}
.info p span {
  color:#0055ff;
}

.card {
  width: 80px;
  margin: 0 2px;
  border: 1px solid #222;
  border-radius: 8px;
}


.start, .restart {
  color: #fafafa;
  background-color: #0055ff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  margin: 0 8px;
}
.start:hover, .restart:hover {
  background-color: rgba(0, 85, 255, 0.8);
}

.hit, .stay {
  display: none;
  color: #fafafa;
  background-color: #0055ff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 120px;
  margin: 0 8px;
}

.hit:hover, .stay:hover {
  background-color: rgba(0, 85, 255, 0.8);
}

.your-status, .dealer-status{
  display: flex;
  align-items: center;
}

.dealer-status h2{
  margin: 0 auto;
}

.your-count, .dealer-count{
  margin-left: 10px;
}